.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ffe18a;
}

.form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 80%;
    max-width: 500px;
    background-color: #fff;
    padding:70px 30px;
    border-radius:20px
}

.fieldsContainer{
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.slide {
    animation-name: example;
    animation-duration: 1s;
  }
  
  @keyframes example {
    0% { transform: translateY(0%); }
    100% { transform: translateY(-200%); opacity: 0.3; }
  }